/* App.css (atau sesuaikan dengan nama file CSS Anda) */

.preview-layout {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

label {
  font-size: 24px;
  margin-bottom: 10px;
}

#align-items {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 8px;
  background-color: aliceblue;
  min-height: 200px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.powderblue {
  background-color: powderblue;
}

.skyblue {
  background-color: skyblue;
}

.steelblue {
  background-color: steelblue;
}
